body{
    background-color: rgb(164, 211, 211);
}
.container{
    background-color: rgb(0, 0, 44);
    width: 80vw;
    padding: 1vw;
    margin: 15vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    .contents{
        background-color: navy;
        margin: 1vw;
        padding: 3vw;
        border-radius: 10px;
        width: 30vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
        color: white;
        .profileImage{
            &:hover{
                height: 20vw;
                width: 20vw;
            }
            width: 10vw;
            height: 10vw;
            object-fit: cover;
            border-radius: 50%;
            transition: width 1s, height 1.5s;
        }
    }
}